<h2><%= product.name %></h2>
<img src=<%= product.image %> alt="<%= product.name %>">
<p><%= product.description %></p>
<p>Price: <%= product.price_cents %></p>
<p>Quantity: <%= product.quantity %></p>