<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <% @order.line_items.each do |item| %>
    <%= render 'order', product: item.product %>
  <% end %>

  <p>Total: <%= @order.total_cents %></p>
  <p>Email: <%= @order.email %></p>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
