<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if session['user_id'] && @reviews.all? { |r| r.user_id != session['user_id'] } %>

      <%= form_for(:review, url: product_reviews_path(@product)) do |f| %>
        <h3>Write a review</h3>
        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :rating %>
        <%= select_tag(:rating, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>

        <%= f.submit "Submit review" %>
      <% end %>

    <% end %>

    <%= render @reviews.order(created_at: :desc) %>

  </article>

</section>
